body {
  background-color: rgb(201, 149, 250);
  text-align: center;
}

#root {
  width: 50%;
  margin: auto;
}

.DisplayBox {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(133, 3, 111) 0px 0px 0px 3px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin-top: 20px;
  column-gap: 30px;
  row-gap: 30px;
  padding: 40px;
  justify-content: center;
  align-items: center;
}
.CardBox {
  width: 350px;
  box-shadow: rgba(87, 4, 66, 0.16) 0px 1px 4px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
}
.Box1 {
  display: flex;
  justify-content: space-evenly;
}
.deleteBtn {
  height: 35px;
  background-color: blueviolet;
  color: wheat;
  font-weight: 600;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
