body {
  background-color: rgb(201, 149, 250);
}

#root {
  width: 28%;
  margin: auto;
}

.CardBox {
  display: flex;
  gap: 5px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  margin-bottom: 15px;
  border-radius: 6px;
  background-color: blueviolet;
  color: rgb(201, 149, 250);
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.CheckBox + .TaskTitle {
  text-decoration: line-through;
  text-decoration-line: line-through;
  text-decoration-color: rgb(167, 95, 167);
  text-decoration-thickness: 2px;
}

h1{
  text-align: center;
  margin-bottom: 30px;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: blueviolet;
}
