.App {
  font-family: sans-serif;
}

nav {
  background-color: #333;
  color: white;
  padding: 5px 0;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 8px 5px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #555;
}

.active {
  color: gold;
  font-weight: bold;
  text-decoration: underline;
}

.active-navLink {
  color: #ff4d4d;
  font-weight: bold;
  transition: all 0.3s ease-in-out; /* smooth animation */
}

.active-navLink:hover {
  transform: scale(1.1); /* smoother than changing font-size */
  color: #f3b8b8;
}
