.App {
  font-family: sans-serif;
}

nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 8px 5px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #555;
}

.highlightNavClick {
  color: gold;
  font-weight: bold;
  text-decoration: underline;
  background-color: rgba(255, 215, 0, 0.15);
  padding: 6px 10px;
  border-radius: 4px;
}

.highlightNavClick:hover {
  color: aqua;
  background-color: rgba(0, 255, 255, 0.1);
  transform: scale(1.07);
  transition: 0.2s ease;
}